

NET "DOUT[0]" LOC = P110;
NET "DOUT[1]" LOC = P111;
NET "BRD_ID[0]" LOC = P112;
NET "DOUT[2]" LOC = P113;
NET "ADDR[2]" LOC = P115;
NET "DOUT[3]" LOC = P117;
NET "ADDR[4]" LOC = P114;
NET "ADDR[0]" LOC = P116;
NET "ADDR[3]" LOC = P120;
NET "ADDR[6]" LOC = P121;
NET "DOUT[7]" LOC = P126;
NET "BRD_ID[1]" LOC = P123;
NET "DOUT[5]" LOC = P125;
NET "DOUT[6]" LOC = P127;
NET "CLK1" LOC = P129;
NET "DOUT[8]" LOC = P131;
NET "ADDR[1]" LOC = P130;
NET "DOUT[4]" LOC = P124;
NET "MOD_SEL_IN[0]" LOC = P134;
NET "DOUT[10]" LOC = P139;
NET "DOUT[11]" LOC = P141;
NET "HV_EN_N[0]" LOC = P88;
NET "HV_EN_N[1]" LOC = P96;
NET "HV_EN_N[2]" LOC = P87;
NET "HV_EN_N[3]" LOC = P93;
NET "HV_EN_N[4]" LOC = P98;
NET "HV_EN_N[5]" LOC = P92;
NET "HV_EN_N[6]" LOC = P77;
NET "HV_EN_N[7]" LOC = P82;
NET "HV_EN_N[8]" LOC = P104;
NET "HV_EN_N[9]" LOC = P101;
NET "HV_EN_N[10]" LOC = P99;
NET "HV_EN_N[11]" LOC = P90;
NET "HV_EN_N[12]" LOC = P91;
NET "HV_EN_N[13]" LOC = P79;
NET "HV_EN_N[14]" LOC = P84;
NET "HV_EN_N[15]" LOC = P103;
NET "HV_EN_N[16]" LOC = P102;
NET "HV_EN_N[17]" LOC = P105;
NET "HV_EN_N[18]" LOC = P85;
NET "HV_EN_N[19]" LOC = P83;
NET "HI_GAIN_N" LOC = P76;
NET "SWin" LOC = P78;
NET "HT[0]" LOC = P24;
NET "HT[1]" LOC = P25;
NET "HT[2]" LOC = P31;
NET "HT[3]" LOC = P32;
NET "HT[4]" LOC = P28;
NET "HT[5]" LOC = P19;
NET "HT[6]" LOC = P21;
NET "HT[7]" LOC = P18;
NET "HT[8]" LOC = P20;
NET "HT[9]" LOC = P15;
NET "HT[10]" LOC = P16;
NET "HT[11]" LOC = P10;
NET "HT[12]" LOC = P11;
NET "HV_DAC_SCLK" LOC = P7;
NET "HV_DAC_SYNC_N" LOC = P8;
NET "HV_DAC_DIN" LOC = P3;
NET "BIAS_DAC_SCLK" LOC = P5;
NET "BIAS_DAC_SYNC_N" LOC = P4;
NET "BIAS_DAC_DIN" LOC = P6;
NET "THRH_DAC_SCLK" LOC = P30;
NET "THRH_DAC_SYNC_N" LOC = P27;
NET "THRH_DAC_DIN" LOC = P29;
NET "HT[19]" LOC = P57;
NET "HT[18]" LOC = P59;
NET "HT[17]" LOC = P54;
NET "HT[16]" LOC = P55;
NET "HT[15]" LOC = P47;
NET "HT[14]" LOC = P49;
NET "HT[13]" LOC = P46;
NET "AD_SDI" LOC = P69;
NET "AD_SCLK" LOC = P70;
NET "AD_CONV_N" LOC = P71;
NET "ADDR[7]" LOC = P138;
NET "ADDR[5]" LOC = P135;
NET "CS" LOC = P142;
NET "ALE" LOC = P140;
NET "DOUT[9]" LOC = P132;
NET "D2" LOC = P51;
NET "D3" LOC = P50;
NET "D4" LOC = P64;
NET "BRD_ID[2]" LOC = P80;
NET "MOD_SEL_IN[1]" LOC = P97;
NET "HVON_N" LOC = P75;


NET "HVON_N" IOSTANDARD = LVCMOS33;
NET "HV_DAC_DIN" IOSTANDARD = LVCMOS33;
NET "HV_DAC_SCLK" IOSTANDARD = LVCMOS33;
NET "HV_DAC_SYNC_N" IOSTANDARD = LVCMOS33;
NET "D2" IOSTANDARD = LVTTL;
NET "D3" IOSTANDARD = LVTTL;
NET "D4" IOSTANDARD = LVTTL;
NET "HI_GAIN_N" IOSTANDARD = LVCMOS33;
NET "BRD_ID[2]" IOSTANDARD = LVCMOS33;
NET "BRD_ID[1]" IOSTANDARD = LVCMOS33;
NET "BRD_ID[0]" IOSTANDARD = LVCMOS33;
NET "DOUT[11]" IOSTANDARD = LVCMOS33;
NET "DOUT[10]" IOSTANDARD = LVCMOS33;
NET "DOUT[9]" IOSTANDARD = LVCMOS33;
NET "DOUT[8]" IOSTANDARD = LVCMOS33;
NET "DOUT[7]" IOSTANDARD = LVCMOS33;
NET "DOUT[6]" IOSTANDARD = LVCMOS33;
NET "DOUT[5]" IOSTANDARD = LVCMOS33;
NET "DOUT[4]" IOSTANDARD = LVCMOS33;
NET "DOUT[3]" IOSTANDARD = LVCMOS33;
NET "DOUT[2]" IOSTANDARD = LVCMOS33;
NET "DOUT[1]" IOSTANDARD = LVCMOS33;
NET "DOUT[0]" IOSTANDARD = LVCMOS33;
NET "ADDR[7]" IOSTANDARD = LVCMOS33;
NET "ADDR[6]" IOSTANDARD = LVCMOS33;
NET "ADDR[5]" IOSTANDARD = LVCMOS33;
NET "ADDR[4]" IOSTANDARD = LVCMOS33;
NET "ADDR[3]" IOSTANDARD = LVCMOS33;
NET "ADDR[2]" IOSTANDARD = LVCMOS33;
NET "ADDR[1]" IOSTANDARD = LVCMOS33;
NET "ADDR[0]" IOSTANDARD = LVCMOS33;
NET "HT[19]" IOSTANDARD = LVCMOS33;
NET "HT[18]" IOSTANDARD = LVCMOS33;
NET "HT[17]" IOSTANDARD = LVCMOS33;
NET "HT[16]" IOSTANDARD = LVCMOS33;
NET "HT[15]" IOSTANDARD = LVCMOS33;
NET "HT[14]" IOSTANDARD = LVCMOS33;
NET "HT[13]" IOSTANDARD = LVCMOS33;
NET "HT[12]" IOSTANDARD = LVCMOS33;
NET "HT[11]" IOSTANDARD = LVCMOS33;
NET "HT[10]" IOSTANDARD = LVCMOS33;
NET "HT[9]" IOSTANDARD = LVCMOS33;
NET "HT[8]" IOSTANDARD = LVCMOS33;
NET "HT[7]" IOSTANDARD = LVCMOS33;
NET "HT[6]" IOSTANDARD = LVCMOS33;
NET "HT[5]" IOSTANDARD = LVCMOS33;
NET "HT[4]" IOSTANDARD = LVCMOS33;
NET "HT[3]" IOSTANDARD = LVCMOS33;
NET "HT[2]" IOSTANDARD = LVCMOS33;
NET "HT[1]" IOSTANDARD = LVCMOS33;
NET "HT[0]" IOSTANDARD = LVCMOS33;
NET "MOD_SEL_IN[1]" IOSTANDARD = LVCMOS33;
NET "MOD_SEL_IN[0]" IOSTANDARD = LVCMOS33;


NET "RESET_N" LOC = P58;


NET "RESET_N" IOSTANDARD = LVCMOS33;




NET "I2C_SCL" IOSTANDARD = LVCMOS33;




NET "I2C_SDA" IOSTANDARD = LVCMOS33;


NET "SWin" IOSTANDARD = LVCMOS33;
NET "THRH_DAC_DIN" IOSTANDARD = LVCMOS33;
NET "THRH_DAC_SCLK" IOSTANDARD = LVCMOS33;
NET "THRH_DAC_SYNC_N" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[19]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[18]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[17]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[16]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[15]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[14]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[13]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[12]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[11]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[10]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[9]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[8]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[7]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[6]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[5]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[4]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[3]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[2]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[1]" IOSTANDARD = LVCMOS33;
NET "HV_EN_N[0]" IOSTANDARD = LVCMOS33;
NET "AD_CONV_N" IOSTANDARD = LVCMOS33;
NET "AD_SCLK" IOSTANDARD = LVCMOS33;
NET "AD_SDI" IOSTANDARD = LVCMOS33;
NET "ALE" IOSTANDARD = LVCMOS33;
NET "BIAS_DAC_DIN" IOSTANDARD = LVCMOS33;
NET "BIAS_DAC_SCLK" IOSTANDARD = LVCMOS33;
NET "BIAS_DAC_SYNC_N" IOSTANDARD = LVCMOS33;
NET "CLK1" IOSTANDARD = LVCMOS33;
NET "CS" IOSTANDARD = LVCMOS33;
NET "MUX_DOUT[0]" LOC = P41;
NET "MUX_DOUT[1]" LOC = P44;
NET "MUX_DOUT[3]" LOC = P45;
NET "MUX_DOUT[4]" LOC = P43;
NET "MUX_DOUT[5]" LOC = P48;


NET "MUX_DOUT[5]" IOSTANDARD = LVTTL;
NET "MUX_DOUT[4]" IOSTANDARD = LVTTL;
NET "MUX_DOUT[1]" IOSTANDARD = LVTTL;
NET "MUX_DOUT[3]" IOSTANDARD = LVTTL;


NET "MUX_DOUT[2]" LOC = P42;


NET "MUX_DOUT[2]" IOSTANDARD = LVTTL;
NET "MUX_DOUT[0]" IOSTANDARD = LVTTL;


NET "RESET_N" PULLUP;
NET "SWin" PULLDOWN;
NET "CS" PULLUP;
NET "BRD_ID[0]" PULLUP;
NET "BRD_ID[1]" PULLUP;
NET "BRD_ID[2]" PULLUP;
NET "HT[19]" PULLUP;
NET "HT[18]" PULLUP;
NET "HT[17]" PULLUP;
NET "HT[16]" PULLUP;
NET "HT[15]" PULLUP;
NET "HT[14]" PULLUP;
NET "HT[13]" PULLUP;
NET "HT[12]" PULLUP;
NET "HT[11]" PULLUP;
NET "HT[10]" PULLUP;
NET "HT[9]" PULLUP;
NET "HT[8]" PULLUP;
NET "HT[7]" PULLUP;
NET "HT[6]" PULLUP;
NET "HT[5]" PULLUP;
NET "HT[4]" PULLUP;
NET "HT[3]" PULLUP;
NET "HT[2]" PULLUP;
NET "HT[1]" PULLUP;
NET "HT[0]" PULLUP;
NET "MOD_SEL_IN[1]" PULLUP;
NET "MOD_SEL_IN[0]" PULLUP;


NET "AD_SDI" PULLUP;


NET "AD_SCLK" SLEW = FAST;
NET "BIAS_DAC_SCLK" SLEW = FAST;
NET "HV_DAC_SCLK" SLEW = FAST;
NET "THRH_DAC_SCLK" SLEW = FAST;


NET "HV_EN_N[19]" DRIVE = 6;
NET "HV_EN_N[18]" DRIVE = 6;
NET "HV_EN_N[17]" DRIVE = 6;
NET "HV_EN_N[16]" DRIVE = 6;
NET "HV_EN_N[15]" DRIVE = 6;
NET "HV_EN_N[14]" DRIVE = 6;
NET "HV_EN_N[13]" DRIVE = 6;
NET "HV_EN_N[12]" DRIVE = 6;
NET "HV_EN_N[11]" DRIVE = 6;
NET "HV_EN_N[10]" DRIVE = 6;
NET "HV_EN_N[9]" DRIVE = 6;
NET "HV_EN_N[8]" DRIVE = 6;
NET "HV_EN_N[7]" DRIVE = 6;
NET "HV_EN_N[6]" DRIVE = 6;
NET "HV_EN_N[5]" DRIVE = 6;
NET "HV_EN_N[4]" DRIVE = 6;
NET "HV_EN_N[3]" DRIVE = 6;
NET "HV_EN_N[2]" DRIVE = 6;
NET "HV_EN_N[1]" DRIVE = 6;
NET "HV_EN_N[0]" DRIVE = 6;
NET "DOUT[11]" DRIVE = 6;
NET "DOUT[10]" DRIVE = 6;
NET "DOUT[9]" DRIVE = 6;
NET "DOUT[8]" DRIVE = 6;
NET "DOUT[7]" DRIVE = 6;
NET "DOUT[6]" DRIVE = 6;
NET "DOUT[5]" DRIVE = 6;
NET "DOUT[4]" DRIVE = 6;
NET "DOUT[3]" DRIVE = 6;
NET "DOUT[2]" DRIVE = 6;
NET "DOUT[1]" DRIVE = 6;
NET "DOUT[0]" DRIVE = 6;
NET "MUX_DOUT[5]" DRIVE = 6;
NET "MUX_DOUT[4]" DRIVE = 6;
NET "MUX_DOUT[3]" DRIVE = 6;
NET "MUX_DOUT[2]" DRIVE = 6;
NET "MUX_DOUT[1]" DRIVE = 6;
NET "MUX_DOUT[0]" DRIVE = 6;



NET "TP12" LOC = P63;


NET "TP12" IOSTANDARD = LVCMOS33;


NET "TP14" LOC = P62;


NET "TP14" IOSTANDARD = LVCMOS33;


NET "TP15" LOC = P67;


NET "TP15" IOSTANDARD = LVCMOS33;





NET "I2C_SCL" LOC = P13;
NET "I2C_SDA" LOC = P12;

# PlanAhead Generated IO constraints 

NET "I2C_SCL" DRIVE = 4;
NET "I2C_SDA" DRIVE = 4;
